@import "_yourecipe.scss";
@import "_mq.scss";
@import "_transition.scss";
*,
*:before,
*:after,
{
    @include box(border-box);
}

.clearfix {
    &:before {
        @extend %clearfix;
    }
    &:after {
        @extend %clearfix;
    }
    zoom: 1;
}

img {
    max-width: 100%;
}

a {
    @include textunder(none);
    @include transition(all 0.4s);
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    background-color: $bk;
    font-size: 1.4rem;
    color: $grey;
    line-height: 1.4;
    -webkit-overflow-scrolling: touch;
    @include MQ(M) {
        font-size: 1.6rem;
    }
}

.yr-wrapper {
    width: 95%;
    margin: 0 auto;
    @include MQ(M) {
        width: 85%;
        max-width: 1000px;
    }
}

// header
.header-page {
    background-color: $header-bk;
    zoom: 1;
    font-size: $font14;
    li {
        @include list-style(none);
    }
}

.yr-main {
    width: 70%;
    padding-right: 2.5%;
    @include float(left);
    position: relative;
}

.yr-sidebar {
    width: 30%;
    height: 100%;
    padding-left: 2.5%;
    @include float(left);
    position: relative;
    z-index: 0;
}

.user {
    [data-icon]:before {
        @include display(none);
        @include MQ(M) {
            margin-right: 1rem;
            color: $grey;
        }
    }
}

// yr-top-nav
.yr-top-nav {
    padding: 1em 0;
    background: $yellow-s;
    position: relative;
    .yr-main {
        width: 100%;
        padding: 0;
        @include display(block);
        @include MQ(S) {
            width: 70%;
        }
    }
    .yr-sidebar {
        width: 100%;
        padding: 0;
        @include MQ(S) {
            width: 30%;
        }
    }
    .random-news {
        @include display(none);
        overflow: hidden;
        @include MQ(S) {
            @include display(block);
            .random-title {
                @include float(left);
                margin-right: 1em;
            }
            .yr-header {
                white-space: nowrap;
                @include display(inline-block);
                li {
                    @include display(inline-block);
                    margin-left: 20%;
                    a{
                       color:$grey;
                       &:hover{
                           color: $green; 
                       }
                    }
                }
            }
        }
    }
    .user li {
        width: 33.3333%;
        @include float(left);
        @include text(center);
        a {
            color: $grey;
            &:hover {
                @include textunder(underline);
            }
        }
    }
}

// yr-top-main
.yr-top-main {
    margin-top: 2rem;
    position: relative;
    .yr-main {
        width: 100%;
        padding: 0;
        @include display(block);
        @include MQ(S) {
            width: 70%;
            padding-right: 2.5%;
        }
    }
    .yr-sidebar {
        width: 100%;
        padding: 0;
        @include MQ(S) {
            width: 30%;
            padding-left: 2.5%;
        }
    }
    .yr-logo {
        @include position(relative);
        img {
            width: 70%;
            @include float(left);
            margin-right: 2rem;
            @include MQ(S) {
                width: 100%;
                margin-top: 1rem;
            }
        }
        .mobile {
            @include position(absolute);
            top: 50%;
            right: -2%;
            @include float(right);
            @include transform(translateY(-50%));
            @include display(inline);
            z-index: 20;
            @include MQ(S) {
                @include display(none);
            }
            .toggle {
                display: block;
                position: relative;
                overflow: hidden;
                margin: 0;
                padding: 0;
                width: 96px;
                height: 96px;
                font-size: 0;
                text-indent: -9999px;
                appearance: none;
                box-shadow: none;
                border-radius: none;
                border-radius: none;
                cursor: pointer;
                transition: background 0.5s;
                &:focus {
                    outline: none;
                }
                span {
                    display: block;
                    position: absolute;
                    top: 44px;
                    left: 18px;
                    right: 18px;
                    height: 8px;
                    background: $grey;
                    &::before {
                        position: absolute;
                        display: block;
                        left: 0;
                        width: 100%;
                        height: 8px;
                        background-color: $grey;
                        content: "";
                        top: -20px;
                    }
                    &::after {
                        position: absolute;
                        display: block;
                        left: 0;
                        width: 100%;
                        height: 8px;
                        background-color: $grey;
                        content: "";
                        bottom: -20px;
                    }
                }
            }
            .toggle--move {
                span {
                    transition: transform 0.5s;
                    &::before {
                        transform-origin: top right;
                        transition: transform 0.5s, width 0.5s, top 0.5s;
                    }
                    &::after {
                        transform-origin: bottom right;
                        transition: transform 0.5s, width 0.5s, bottom 0.5s;
                    }
                }
            }
            .is-active {
                background-color: $grey;
                span {
                    transform: rotate(180deg);
                    background: $white;
                    &::before {
                        width: 50%;
                        top: 0;
                        background: $white;
                        transform: translateX(38px) translateY(4px) rotate(45deg);
                    }
                    &::after {
                        width: 50%;
                        bottom: 0;
                        background: $white;
                        transform: translateX(38px) translateY(-4px) rotate(-45deg);
                    }
                }
            }
        }
        @include display(block);
        @include MQ(S) {
            @include float(left);
            width: 30%;
            margin-right: 4.5%;
        }
    }
    .yr-search {
        @include float(left);
        @include position(relative);
        width: 100%;
        margin-top: 2rem;
        input {
            height: 40px;
        }
        @include MQ(S) {
            width: 63%;
        }
        .search-text {
            width: 100%;
            @include MQ(S) {
                width: 80%;
            }
            border: none;
            background: $yellow-s;
            font-size: $font12;
            color: #552200;
            padding-left: 2rem;
            -webkit-border-radius: 2px;
            border-radius: 2px;
        }
        .icon-search {
            @include position(absolute);
            top: 50%;
            right: 0;
            margin-top: -25px;
            margin-right: 20px;
            @include display(block);
            @include MQ(S) {
                @include display(none);
            }
        }
        .search-su {
            @include display(none);
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            color: $white;
            @include MQ(S) {
                @include display(inline);
                width: 18%;
                background-color: $grey;
                border: none;
            }
        }
        .keyword {
            h4 {
                margin-top: 1rem;
                @include float(left);
            }
        }
        .key {
            margin: 1rem 1rem;
            width: 60%;
            @include float(left);
            @include MQ(S) {
                margin-top: 0.5rem;
            }
            a {
                @include float(left);
                @include text(center);
                margin-right: 0.1rem;
                font-size: $font12;
                color: $grey;
                @include MQ(S) {
                    padding: 0.3rem;
                    font-size: $font14;
                    background: $grey;
                    color: $header-bk;
                    width: 32%;
                }
            }
        }
    }
    .yr-save-like {
        .like {
            li {
                width: 49.5%;
                @include float(left);
                margin: 0;
                @include text(center);
                margin: 0.25%;
                a {
                    padding: 1.4rem 1rem;
                    @include display(block);
                    background: $green;
                    border-radius: 2px;
                    color: $white;
                }
                [data-icon]:before {
                    margin-bottom: 1rem;
                    margin-right: 1rem;
                    @include display(inline);
                    font-size: $font14;
                    @include MQ(S) {
                        font-size: $font20;
                        @include display(block);
                    }
                }
                &:last-child {
                    a {
                        background: $red;
                    }
                }
            }
        }
        margin-top: 2rem;
        @include MQ(S) {
            margin-top: 0;
        }
    }
}

// menu
.main-menu {
    @include display(none);
    @include position(absolute);
    top: -8%;
    right: -100%;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 10;
    @include MQ(S) {
        @include position(relative);
        right: 0;
        height: 100%;
        @include display(block);
        overflow: visible;
    }
    @extend %transiton;
    background: $grey;
    font-size: $font14;
    font-weight: 700;
    .yr-main-nav {
        margin-top: 2rem;
        li {
            width: 100%;
            @include float(none);
            @include display(block);
            @include text(left);
            @include MQ(S) {
                width: 10.1rem;
                @include float(left);
                @include text(center);
            }
            .active {
                color: $yellow;
                background: $grey-s;
            }
            a {
                display: block;
                @include position(relative);
                padding: 2rem 0;
                color: $yellow-s;
                @extend %font-smoot;
                [data-icon]:before {
                    margin-right: 0.3rem;
                    @include MQ(M) {
                        margin-right: 0.5rem;
                    }
                }
                @include MQ(M) {
                    padding: 2rem;
                }
                @include transition(all 0.5s);
                :before {
                    @include transition(all 0.5s);
                }
                :after {
                    @include position(absolute);
                    top: 0;
                    left: 0;
                    right: 0;
                    margin: auto;
                    width: 0%;
                    content: '.';
                    color: transparent;
                    background: $yellow;
                    height: 5px;
                    @include transition(all 0.5s);
                }
                &:hover {
                    :after {
                        width: 100%;
                    }
                }
            }
            &:hover {
                a {
                    color: $yellow;
                }
            }
            @include MQ(M) {
                width: 143px;
            }
        }
    }
}

.menu-show {
    @include display(block);
    right: 0;
    transition: visibility 0s 0s;
}

//content
.content {
    .yr-main {
        width: 100%;
        padding: 0;
        @include display(block);
        overflow: hidden;
        @include MQ(M) {
            width: 70%;
            padding-right: 2.5%
        }
    }
    .yr-sidebar {
        width: 100%;
        padding: 0;
        @include MQ(M) {
            width: 30%;
            padding-left: 2.5%;
        }
    }
    position: relative;
    margin: 2.8rem 0;
    @include MQ(M) {
        margin: 4.8rem 0;
    }
    .yr-main {
        background: $bk;
    }
}

// today recipe
.static {
    margin-bottom: 1rem;
    font-size: $font12;
    color: $grey-s;
    [data-icon]:before {
        margin-right: 0.5rem;
    }
}

//today
.today {
    @include tit($font12, $green, 1.2rem, $white, $font12);
    @include MQ(S) {
        @include tit($font16, $green, 1.2rem, $white, $font12);
    }
    @include MQ(M) {
        @include tit($font20, $green, 1.6rem, $white, $font12);
    }
    @include boxstyle($white, $border-c);
    .flex-direction-nav {
        top: -50px;
        @include MQ(S) {
            top: -56px;
        }
    }
    .yr-today-article {
        line-height: 2;
        margin-bottom: 2rem;
        padding: 2rem;
        @include MQ(M) {
            padding: 1rem;
        }
        .today-thumb {
            width: 100%;
            @include display(block);
            @include MQ(S) {
                width: 40%;
                @include float(left);
            }
        }
        .recipe-content {
            width: 100%;
            padding: 0.5rem 2rem 1rem;
            @include MQ(S) {
                width: 60%;
                @include float(left);
            }
            .recipe-title {
                margin-bottom: 1rem;
                a {
                    font-size: $font16;
                    color: $grey;
                }
            }
            p {
                color: $black;
                font-size: $font14;
            }
        }
    }
    .flex-control-nav {
        bottom: -30px;
        @include MQ(S) {
            bottom: 0;
        }
    }
}

//ranking
.item-title {
    font-size: $font20;
    margin-bottom: 1rem;
    a {
        color: $grey;
        &:hover {
            color: $green;
        }
    }
}

.ranking {
    margin-top: 2.8rem;
    @include MQ(M) {
        margin-top: 4.8rem;
    }
    @include tit($font12, $grey, 1.2rem, $white, $font12);
    @include MQ(S) {
        @include tit($font16, $grey, 1.2rem, $white, $font12);
    }
    @include MQ(M) {
        @include tit($font20, $grey, 1.6rem, $white, $font12);
    }
    @include boxstyle($white, $border-c);
    .yr-ranking-article {
        padding: 2rem 0;
        li {
            width: 100%;
            @include list-style(none);
            .item-thumb {
                width: 90%;
                margin: 0 auto;
                @include position(relative);
                .ranks {
                    @include position(absolute);
                    top: -15px;
                    right: -10px;
                    width: 35px;
                    height: 35px;
                    padding: 0.6em;
                    background: rgba(69, 125, 0, 0.85);
                    border-radius: 35px;
                    @include MQ(S) {
                        top: -20px;
                        right: -20px;
                        width: 50px;
                        height: 50px;
                        border-radius: 50px;
                    }
                }
            }
            .item-content {
                @extend .item-thumb;
            }
            @include MQ(S) {
                width: 30%;
                margin: 0 1.6%;
                @include float(left);
            }
        }
    }
}

// osusume
.susume {
    margin-top: 2.8rem;
    @include MQ(M) {
        margin-top: 4.8rem;
    }
    @include tit($font12, $yellow-h, 1.2rem, $white, $font12);
    @include MQ(S) {
        @include tit($font16, $yellow-h, 1.2rem, $grey, $font12);
    }
    @include MQ(M) {
        @include tit($font20, $yellow-h, 1.6rem, $grey, $font12);
    }
    @include boxstyle($white, $border-c);
    .yr-content {
        width: 100%;
        padding: 2rem 0;
        li {
            margin-bottom: 2rem;
        }
        .item-thumb {
            width: 100%;
            @include MQ(S) {
                width: 30%;
                @include float(left);
            }
        }
        .item-content {
            width: 100%;
            padding: 0.5rem 2rem 1rem;
            p {
                font-size: $font14;
                color: $black;
            }
            span {
                margin-right: 1rem;
            }
            .view {
                margin-top: 3rem;
                a {
                    padding: 0.5rem;
                    background: $green;
                    color: $white;
                    margin-right: 2rem;
                }
            }
            @include MQ(S) {
                width: 70%;
                @include float(left);
            }
        }
    }
}

//users
.users {
    margin-top: 2.8rem;
    @include boxstyle($bk, none);
    @include MQ(S) {
        @include boxstyle($white, $border-c);
    }
    @include MQ(M) {
        margin-top: 4.8rem;
    }
    .item-content {
        padding: 2rem 0;
    }
}

.user-make {
    @include tit($font12, $green, 1.2rem, $white, $font12);
    @include MQ(S) {
        @include tit($font14, $green, 1.2rem, $white, $font12);
    }
    @include MQ(M) {
        @include tit($font16, $green, 1.2rem, $white, $font12);
    }
    @include boxstyle($white, $border-c);
    width: 100%;
    @include MQ(M) {
        width: 40%;
        @include float(left);
        margin-right: 2rem;
    }
    .yr-headline-title {
        @include text(center);
        @include MQ(M) {
            @include text(right);
        }
    }
    .user-thumb {
        width: 30%;
        @include float(left);
    }
    .user-content {
        @include float(left);
        padding: 0.5rem 1rem;
    }
    .item-article {
        margin-top: 2rem;
        padding: 1rem;
        background: #FFF;
        @include position(relative);
        h4 {
            font-size: $font14;
            margin-bottom: 1rem;
        }
        p {
            font-size: $font12;
        }
    }
}

.user-reicpe-rank {
    margin-top: 2.8rem;
    @include tit($font12, $orange, 1.2rem, $white, $font12);
    @include MQ(S) {
        @include tit($font14, $orange, 1.2rem, $white, $font12);
    }
    @include MQ(M) {
        @include tit($font16, $orange, 1.2rem, $white, $font12);
        margin-top: 0;
    }
    @include boxstyle($white, $border-c);
    @include MQ(S) {
        @include boxstyle($white, $white);
    }
    width: 100%;
    @include MQ(M) {
        width: 56%;
        @include float(left);
    }
    .yr-headline-title {
        @include text(right);
        @include MQ(S) {
            @include text(center);
        }
        @include MQ(M) {
            @include text(right);
        }
    }
    li {
        @include list-style(none);
        margin-bottom: 2rem;
    }
    .r-1 {
        width: 10%;
        @include float(left);
        margin: 0 1rem;
        @include transform(translateY(50%));
    }
    .user-thumb > img {
        width: 20%;
        @include float(left);
        margin-right: 2rem;
    }
    .user-content {
        @include float(left);
        padding: 0.5rem 0;
        width: 50%;
        h4 {
            font-size: $font14;
            margin-bottom: 0.5rem;
        }
        p {
            font-size: $font14;
            margin-bottom: 0.5rem;
        }
    }
}

// season
.season {
    margin-top: 2.8rem;
    @include MQ(M) {
        margin-top: 4.8rem;
    }
    @include tit($font12, $green, 1.2rem, $white, $font12);
    @include MQ(S) {
        @include tit($font16, $green, 1.2rem, $white, $font12);
    }
    @include MQ(M) {
        @include tit($font20, $green, 1.6rem, $white, $font12);
    }
    @include boxstyle($white, $border-c);
    width: 100%;
    .season-content {
        padding: 2rem 0;
    }
    li {
        @include float(left);
        list-style: none;
        width: 45%;
        margin-left: 1.5rem;
        @include MQ(M) {
            width: 30%;
            margin-left: 1.7rem;
        }
    }
    h4 {
        font-size: $font14;
        margin-bottom: 1rem;
        > a {
            color: $grey;
        }
    }
    .item-content {
        .static > a {
            color: $grey;
        }
    }
}

// chanel
.channel {
    margin-top: 2.8rem;
    @include MQ(M) {
        margin-top: 4.8rem;
    }
    @include tit($font12, $red, 1.2rem, $white, $font12);
    @include MQ(S) {
        @include tit($font16, $red, 1.2rem, $white, $font12);
    }
    @include MQ(M) {
        @include tit($font20, $red, 1.6rem, $white, $font12);
    }
    @include boxstyle($white, $border-c);
    .channel-content {
        padding: 2rem 0;
        .video {
            width: 45%;
            @include float(left);
            padding-right: 2rem;
        }
        .channel-content-right {
            width: 50%;
            padding: 0.5rem 0;
            @include float(left);
            h4 {
                font-size: $font14;
                margin-bottom: 1rem;
            }
            p {
                margin-top: 2rem;
                padding: 1rem;
                border-radius: 1rem;
                font-size: $font14;
                background: $bk;
            }
        }
    }
    .avatar {
        @include position(relative);
        > img {
            @include float(left);
            width: 20%;
        }
        > a {
            @include position(absolute);
            top: 50%;
            transform: translateY(-50%);
            font-size: $font14;
            margin-left: 2rem;
        }
    }
}

//sidebar お知らせ
.news {
    @include tit($font12, $yellow-h, 1.2rem, $white, $font12);
    @include MQ(S) {
        @include tit($font16, $yellow-h, 1.2rem, $grey, $font12);
    }
    @include MQ(M) {
        @include tit($font20, $yellow-h, 1.6rem, $grey, $font12);
    }
    @include boxstyle($white, $border-c);
    color: $grey;
    ul {
        padding: {
            top: 2rem;
            right: 0;
            bottom: 2rem;
            left: 2rem;
        }
    }
    li {
        @include list-style(circle);
        a {
            font-size: 1.4rem;
            padding: 1rem 0;
            display: block;
            color: $grey;
            &:hover {
                color: $green;
            }
        }
        span{
            margin: 0 1rem;  
            @include display(block);
            font-size: $font12; 
            color: $green; 
        }
    }
}

.ads-1 {
    margin-top: 2.4rem;
    @include MQ(S) {
        margin: 0;
        padding-bottom: 2.4rem;
    }
    @include boxstyle($white, $border-c);
    img {
        width: 100%;
    }
}

.ads-2 {
    @extend .ads-1;
}

.ads-3 {
    @extend .ads-1;
}

//new-static sidebar
.newest {
    li {
        @include list-style(none);
    }
}

.article-static {
    margin: 2.4rem 0;
    @include boxstyle($white, $border-c);
}

.tab-menu {
    li {
        width: 33.333333%;
        @include float(left);
        a {
            padding: 1.2rem 1rem;
            @include display(inline-block);
            width: 100%;
            @include text(center);
            background: $grey;
            color: $white;
            font-size: $font14;
            @include font-weight(600);
        }
        :hover {
            background: $grey-s;
        }
    }
    .active {
        a {
            background: $grey-s;
        }
    }
}

.tab-content {
    margin-top: 1.4rem;
    li {
        overflow: hidden;
        border-bottom: 1px dotted rgba(85, 34, 0, 0.33);
        :hover img {
            opacity: 0.8;
        }
        .static-title {
            padding: 0 1rem;
            a {
                padding-top: 0.5rem;
                @include display(inline-block);
                font-size: $font14;
                color: $grey;
            }
            img {
                width: 25%;
                @include float(left);
            }
            span {
                @include float(right);
                width: 70%;
                margin-top: 0;
                &:hover {
                    color: $green;
                }
                @include MQ(S) {
                    margin-top: 1rem;
                }
            }
        }
        &:last-child {
            border-bottom: 1px solid $white;
        }
    }
    .tab {
        @include display(none);
    }
    .active {
        @include display(block);
    }
}

// footer
footer {
    background: $grey;
}

.footer-top {
    .yr-main {
        width: 100%;
        padding: 0;
        @include display(block);
        @include MQ(M) {
            width: 70%;
        }
    }
    .yr-sidebar {
        width: 100%;
        margin: 0 auto;
        padding: 0;
        @include MQ(M) {
            width: 30%;
        }
    }
}

.footer-col {
    width: 100%;
    margin: 1rem 0;
    border-bottom: 1px solid $grey-s;
    @include MQ(S) {
        width: 33%;
        margin: 1rem 0;
        @include float(left);
        border: none;
    }
    ul {
        margin-left: 1rem;
    }
    li {
        @include list-style(none);
        padding: 1rem 0;
        a {
            padding: 1rem 0;
            color: $white;
            font-size: $font14;
            &:hover {
                color: $yellow-h;
            }
        }
    }
    h4 {
        font-size: $font16;
        margin: 1rem 0;
        color: $yellow-h;
    }
}

.subcribe {
    margin: 2rem 0;
    @include text(center);
    @include MQ(M) {
        @include text(left);
    }
    h4 {
        font-size: $font16;
        margin: 1rem 0;
        color: $yellow-h;
    }
    .search-text {
        padding: 1rem;
        color: $grey;
        background: $yellow-s;
        border: none;
        width: 50%;
        @include MQ(S) {
            width: 70%;
        }
    }
    .search-su {
        background: $yellow-h;
        color: $grey;
        border: none;
        padding: 1rem;
    }
}

.footer-bottom {
    background: $grey-s;
    @include position(relative);
}

.footer-bottom {
    .yr-main {
        width: 100%;
        padding: 0;
        @include MQ(S) {
            width: 70%;
            @include float(left);
            padding: 2.5rem;
        }
    }
    .yr-sidebar {
        width: 100%;
        padding: 0;
        @include MQ(S) {
            width: 30%;
            @include float(right);
            padding: 2.5rem;
        }
    }
}

.nav-bot {
    padding: 2.4rem 0;
    font-size: $font14;
    @include text(center);
    li {
        @include display(inline);
        @include MQ(S) {
            @include float(left);
        }
        @include list-style(none);
        a {
            padding: 0 1rem;
            color: $white;
        }
    }
}


/*----------------
      category
-----------------*/

.category {
    @include tit($font12, $yellow-h, 1.2rem, $grey, $font12);
    @include MQ(S) {
        @include tit($font16, $yellow-h, 1.2rem, $grey, $font12);
    }
    @include MQ(M) {
        @include tit($font20, $yellow-h, 1.6rem, $grey, $font12);
    }
    @include boxstyle($white, $border-c);
}

.ca-article {
    margin: 2.4rem 0;
    background: $bk;
    .item-thumb {
        width: 40%;
        @include float(left);
    }
    .item-content {
        width: 60%;
        padding: 1rem 2rem;
        @include float(right);
        ul {
            margin-top: 1rem;
        }
        p {
            color: $black;
        }
        li {
            @include display(block);
            margin: 1.5rem 0;
            a {
                padding: 0.5rem;
                background-color: $yellow-h;
                color: $grey;
            }
        }
    }
}

.writer {
    margin: 1rem 0;
    h4 {
        @include display(inline);
        color: $green;
    }
    a {
        color: $grey;
        font-weight: 700;
    }
}

.category-bar {
    background: $grey;
    padding: 1rem;
    margin-bottom: 2.4rem;
    .ca-col {
        width: 100%;
        ul {
            width: 90%;
            margin: 0 auto;
        }
        li {
            @include list-style(none);
            @include display(block);
            margin: 1rem 0;
            a {
                width: 100%;
                padding: 1rem 0;
                color: $white;
                &:hover {
                    color: $green;
                }
            }
        }
        h4 {
            color: $yellow-h;
            padding: 1rem 0;
            border-bottom: 1px solid rgba(232, 209, 97, 0.15);
        }
    }
}


/*----------------
      maker
-----------------*/

.maker-wrap {
    img {
        @include transition(0.4s all);
        &:hover {
            border-radius: 50%;
        }
        @include MQ(M) {
            &:hover {
                border-radius: 0;
            }
        }
    }
}

.maker {
    @include tit($font12, $red, 1.2rem, $white, $font12);
    @include MQ(S) {
        @include tit($font16, $red, 1.2rem, $white, $font12);
    }
    @include MQ(M) {
        @include tit($font20, $red, 1.6rem, $white, $font12);
    }
    @include boxstyle($white, $border-c);
}

.maker-wrap {
    margin: 2.4rem 0;
}

.maker-article {
    width: 100%;
    @include display(block);
    padding: 1rem;
    .static {
        margin: 3rem 0;
        @include text(center);
        span {
            margin-right: 2rem;
            padding: 1rem;
            background: $grey;
            color: $white;
            border-radius: 5px;
            &:hover {
                color: $yellow-h;
            }
        }
    }
    @include MQ(S) {
        width: 40%;
        @include float(left);
        margin-left: 6.5%;
    }
}

.maker-old {
    @include tit($font12, $grey, 1.2rem, $white, $font12);
    @include MQ(S) {
        @include tit($font16, $grey, 1.2rem, $white, $font12);
    }
    @include MQ(M) {
        @include tit($font20, $grey, 1.6rem, $white, $font12);
    }
    @include boxstyle($white, $border-c);
    margin: 2.4rem 0;
    @include MQ(S) {
        margin: 4.8rem 0;
    }
}

.maker-old-wrap {
    @extend .maker-wrap;
}

.maker-old-article {
    width: 100%;
    @include display(block);
    padding: 1rem;
    @include MQ(S) {
        width: 30%;
        @include float(left);
        margin-left: 2.5%;
    }
    .static {
        margin: 3rem 0;
        @include text(center);
        span {
            margin-right: 2rem;
            @include MQ(S) {
                margin-right: 1rem;
            }
            padding: 1rem;
            background: $grey;
            color: $white;
            border-radius: 5px;
            &:hover {
                color: $yellow-h;
            }
        }
    }
}


/*----------------
      susume page
-----------------*/

.susume-list {
    @include tit($font12, $green, 1.2rem, $white, $font12);
    @include MQ(S) {
        @include tit($font16, $green, 1.2rem, $white, $font12);
    }
    @include MQ(M) {
        @include tit($font20, $green, 1.6rem, $white, $font12);
    }
    @include boxstyle($white, $border-c);
    .yr-headline-title {
        @include text(right);
        @include MQ(S) {
            @include text(right);
        }
        @include MQ(M) {
            @include text(center);
        }
    }
}

.susume-wrap {
    padding: 1rem;
}

.susume-article {
    margin: 2.4rem 0;
    .item-thumb {
        width: 100%;
        @include display(block);
        @include MQ(S) {
            width: 30%;
            @include float(left);
        }
    }
    .item-content {
        width: 100%;
        @include MQ(S) {
            width: 70%;
            @include float(left);
        }
        padding: 1rem;
    }
}


/*----------------
      ranking  page
-----------------*/

.ranking-list {
    @include tit($font12, $grey, 1.2rem, $white, $font12);
    @include MQ(S) {
        @include tit($font16, $grey, 1.2rem, $white, $font12);
    }
    @include MQ(M) {
        @include tit($font20, $grey, 1.6rem, $white, $font12);
    }
    @include boxstyle($white, $border-c);
}

.ranking-wrap {
    margin: 2.4rem 0;
    padding: 1rem;
    width: 100%;
    @include display(block);
    @include MQ(S) {
        width: 45%;
        @include float(left);
        margin-left: 2rem;
    }
    .ranking-title {
        width: 100%;
        margin: 0 auto;
        padding: 0.5rem;
        background: $grey;
        color: $white;
        @include text(center);
    }
    .ranking-number {
        margin: 2.4rem 0;
        img {
            @include transition(0.4s all);
            &:hover {
                border-radius: 10px;
                opacity: 0.8;
            }
        }
        .item-thumb {
            width: 30%;
            @include float(left);
            @include position(relative);
            .ranks {
                @include position(absolute);
                top: -20px;
                left: -10px;
            }
        }
        .hai {
            width: 20%;
            margin-left: 2rem;
        }
        .item-content {
            width: 70%;
            @include float(right);
            padding-left: 1rem;
        }
        .hai-content {
            h4 {
                font-size: $font14;
            }
            .writer {
                font-size: $font14;
            }
        }
    }
}


/*----------------
    video page
-----------------*/

.video-list {
    @include tit($font12, $red, 1.2rem, $white, $font12);
    @include MQ(S) {
        @include tit($font16, $red, 1.2rem, $white, $font12);
    }
    @include MQ(M) {
        @include tit($font20, $red, 1.6rem, $white, $font12);
    }
    @include boxstyle($white, $border-c);
}

.video-wrap {
    @extend .susume-wrap;
}

.video-article {
    @extend .susume-article;
    .item-thumb {
        @include position(relative);
        z-index: 10;
        @include filter(brightness(90%) contrast(70%));
        @include transition(0.4s all);
        &:hover {
            @include filter(brightness(100%) contrast(110%));
            .video-icon {
                @include transform(rotate3d( 1, 0, 1, 180deg));
            }
        }
        img {
            border-radius: 5px;
        }
        .video-icon {
            @include position(absolute);
            top: 50%;
            left: 50%;
            width: 50px;
            height: 50px;
            z-index: 20;
            @include transform(translate(-50%, -50%));
            @include transition(0.4s all);
        }
    }
}


/*----------------
vietnam food page
-----------------*/

.vietnam-list {
    @include tit($font12, $yellow-h, 1.2rem, $yellow-h, $font12);
    @include MQ(S) {
        @include tit($font16, $yellow-h, 1.2rem, $red, $font12);
    }
    @include MQ(M) {
        @include tit($font20, $yellow-h, 1.6rem, $red, $font12);
    }
    @include boxstyle($white, $border-c);
    .yr-headline-title {
        @include text(right);
        a {
            color: $yellow;
            @include position(relative);
            @include MQ(S) {
                color: $red;
            }
        }
        img {
            width: 30px;
            @include position(absolute);
            top: 50%;
            left: 59%;
            @include MQ(S) {
                left: 64%;
            }
            @include transform(translateY(-50%));
            :before {
                @include position(absolute);
                content: "";
                width: 10px;
                height: 10px;
                padding: 0.5rem;
                background: blue;
            }
        }
        @include MQ(S) {
            @include text(center);
        }
        @include MQ(M) {
            @include text(center);
        }
    }
}

.vietnam-wrap {
    @extend .susume-wrap;
}

.vietnam-article {
    @extend .susume-article;
    .writer {
        font-size: $font14;
    }
}


/*----------------
other
-----------------*/

.scrolltop {
    @include position(fixed);
    right: 2rem;
    bottom: 2rem;
    padding: 1rem;
    background: $grey;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    @include MQ(S) {
        right: 5rem;
        bottom: 5rem;
    }
    text-align: center;
    [data-icon]:before {
        font-size: $font36;
        color: $white;
    }
}

.copyright {
    font-size: $font14;
    color: $white;
    padding: 2.4rem 0;
    @include text(center);
}

@-ms-viewport {
    width: device-width;
}
